<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="CucumberParallelSuite" parallel="classes" thread-count="3">
    <listeners>
        <listener class-name="utils.RetryListener"/>
    </listeners>
    <test name="Test - Chrome">
        <classes>
            <class name="runners.TestNGRunner"/>
            <class name="runners.SanityRunner"/>
            <class name="runners.RegressionRunner"/>


        </classes>
    </test>

</suite>
